<div class="container">

  <img class="center-block" src={{recipeService.recipeFound.poza}} width="250" height="250">
  <br>
  <p id="nume">Nume: {{ recipeService.recipeFound.nume }}</p>
  <p id="listaproduse">Listă produse: {{recipeService.recipeFound.listaproduse}}</p>
  <p id="modpreparare">Mod preparare: {{ recipeService.recipeFound.modpreparare }}</p>
  <p id="buget">Buget: {{recipeService.recipeFound.buget}}</p>
  <p id="timp">Timp: {{ recipeService.recipeFound.timp }}</p>
  <p id="publicataDe">Adăugată de utilizatorul: {{ recipeService.recipeFound.mail }}</p>


</div>

