<mat-toolbar id="menu">
  <span>Magazinul meu bio</span>
  <button mat-button (click)="redirectToHomePage()">Acasă</button>


  <button mat-button [matMenuTriggerFor]="produse">Produse</button>
  <mat-menu #produse="matMenu" yPosition="above">
    <button mat-menu-item (click)="redirectToShowProductsToate()">Toate produsele</button>
    <button mat-menu-item (click)="redirectToShowProductsLegume()">Legume</button>
    <button mat-menu-item (click)="redirectToShowProductsFructe()">Fructe</button>
    <button mat-menu-item (click)="redirectToShowProductsCarne()">Carne</button>
    <button mat-menu-item (click)="redirectToShowProductsOua()">Ouă</button>
    <button mat-menu-item (click)="redirectToShowProductsCereale()">Cereale</button>
    <button mat-menu-item (click)="redirectToShowProductsBauturi()">Băuturi</button>
    <button mat-menu-item (click)="redirectToShowProductsAltele()">Altele</button>

  </mat-menu>

  <button mat-button (click)="redirectToMyProducerPage()">Producători</button>


  <button mat-button (click)="redirectToShowRecipe()">Rețete</button>
  <button mat-button (click)="redirectToContactPage()">Contact</button>

  <button *ngIf="currentFunction === 'furnizor' || currentFunction === 'admin'" mat-button [matMenuTriggerFor]="adauga">
    Adaugă
  </button>
  <mat-menu #adauga="matMenu" yPosition="above">
    <button mat-menu-item *ngIf="currentFunction === 'admin'" (click)="redirectToAddProduct()">Adaugă produse</button>
    <button mat-menu-item *ngIf="currentFunction === 'furnizor' " (click)="redirectToAddRecipe()">Adaugă rețetă</button>

  </mat-menu>

  <p *ngIf="currentUser !== null">{{currentUser.prenume}}</p>
  <mat-icon id="account_circle" [matMenuTriggerFor]="profileMenu">account_circle</mat-icon>
  <mat-menu #profileMenu="matMenu" yPosition="above">
    <button *ngIf="currentFunction !== null" mat-menu-item (click)="redirectToMyProfilePage()">Profilul meu
    </button>
    <button *ngIf="currentFunction === null" mat-menu-item (click)="redirectToLoginPage()">Conectare</button>
    <button *ngIf="currentFunction !== null" mat-menu-item (click)="userservice.logout()">Deconectare</button>
  </mat-menu>

  <mat-icon *ngIf=" currentFunction === 'client'" id="shopping_cart" (click)="redirectToCartPage()">shopping_cart
  </mat-icon>


</mat-toolbar>
