div {
  overflow: hidden;
  background-color: lightgreen;
  padding: 40px 30px 20px 30px;
  border-radius: 10px;
  position: absolute;
  top: 15%;
  left: 30%;
  width: 600px;
}

button {
  margin-right: 10px;
  color: forestgreen;
  background-color: white;

}

button:hover {
  color: white;
  background-color: forestgreen;

}
