<div>
  <p id="title"> Bine ați venit! </p>

  <br>
  <slideshow
    [height]="'600px'"
    [autoPlay]="true"
    [imageUrls]="this.produseService.listImagini"></slideshow>

  <br>
  <br>
  <p> Cele mai noi produse</p>
  <ul>
    <li><p id="nume1">{{ this.produseService.product1.nume }}</p>
      <p id="descriere1">{{this.produseService.product1.descriere}}</p>
      <img class="center-block" src={{this.produseService.product1.poza}} width="100" height="100">
      <br>
      <br>
      <button mat-raised-button

              (click)="seeDetails(this.produseService.product1.idprodus)">
        Vezi detalii
      </button>
    </li>
    <li><p id="nume2">{{ this.produseService.product2.nume }}</p>
      <p id="descriere2">{{this.produseService.product2.descriere}}</p>
      <img class="center-block" src={{this.produseService.product2.poza}} width="100" height="100">
      <br>
      <br>
      <button mat-raised-button

              (click)="seeDetails(this.produseService.product2.idprodus)">
        Vezi detalii
      </button>
    </li>
    <li><p id="nume3">{{ this.produseService.product3.nume }}</p>
      <p id="descriere3">{{this.produseService.product3.descriere}}</p>
      <img class="center-block" src={{this.produseService.product3.poza}} width="100" height="100">
      <br>
      <br>
      <button mat-raised-button

              (click)="seeDetails(this.produseService.product3.idprodus)">
        Vezi detalii
      </button>
    </li>
  </ul>
</div>
